.headerMenuItem {
  position: relative;
  text-decoration: none;
  transition: color 0.5s ease;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    height: 1px;
    width: 0;
    transition: width 0.5s ease;
    @apply bg-gradient-to-r from-cyan-400 to-purple-500;
  }

  &:hover::after {
    width: 80%;
  }
}
