@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global vars */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  cursor: none;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  body {
    scrollbar-width: none;
  }
}

body {
  background: transparent !important;
  font-family: var(--font-sans);

  .font-code {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  }

  .border-button {
    border: 1px solid;
  }

  .MuiButton-startIcon {
    margin-left: 0;
  }

  .title-hero {
    min-height: 100px;
  }
}

button:hover {
  cursor: none !important;
}