@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global vars */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent !important;
  font-family: var(--font-sans);

  .font-code {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  }
}
